$text:#333333;
$blue:#0674ec;
$purple:#7347c1;
$bg:#eff1f5;

@mixin f400 {
    font-family: "Quicksand-Regular";
    font-weight: 400;
}
@mixin  f500{
    font-family: "Quicksand-Medium",sans-serif;
    font-weight: 500;  
}
@mixin f700 {
    font-family: "Quicksand-Bold";
    font-weight: 700;
}
