@import 'vars';
@import 'global';
@import 'fonts';

.header__inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    
}

.btn{ 
    border-radius: 20px;
    padding: 6px;
    text-align: center;
    color: #fff;
    width: 140px;
}
.header__box-become{
    margin-left: auto;
    margin-right: 50px;
}
.header__box-btn{
    
    background-color:$blue;
}
.header__box{
    width: 140px;
}
.header__box-user{
    display: flex;
    justify-content: space-between;
}

.header__user-img{
     width: 50px;
    height: 50px;
    background-color:#7c7979;  
    border-radius: 50%;    
}
.header__user{
    margin-left: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
}
.menu__list{
    position: relative;
    li{
        display: inline-block;
        &+li{
            margin-left: 35px;
        }
        a{
            font-family: "Quicksand-Medium" , sans-serif;
            font-weight: 550;
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}
.menu__list-search{
    margin-left: 50px;
    input{
        padding: 15px 0 16px 25px;
        border: 1px solid #ccc;
        border-radius: 30px;
        width: 315px;
        outline: 0;
    }
    a{
      background-color:#000;  
       padding: 13px 25px;
       margin-left: -58px;
      text-align: center;
      border-radius:30px;
      background-color:$blue;
    }
    }
    .search{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 690px;
    }
      
    .search__shadow{
            position: relative;
        &-first{
            margin: 0 auto;
            position: absolute;
            border-radius:6px;
            height: 40px;
            width: 1100px;
            background-color: rgb(255, 255, 255);
            opacity: 0.502;
            margin: 0 auto;
            top: -30px;
            right: 0;
            z-index: 1;
            
        }
        &-second{
            position: absolute;
            border-radius:6px;
            width: 1122px;
            height: 20px;
            background-color: rgb(255, 255, 255);
            opacity: 0.302;
            margin: 0 auto;
            top: -15px;
            right: -10px;
            margin: 0 auto;
        }
    }
    
        
      
    .search__inner{
        padding-top: 55px;
        color:#fff;
        text-align: center;
        &-img{
            text-align: left;
            margin-left: 215px;
        }
        &-title{
            margin:90px 0 30px;
            font-size: 60px;
            font-family: 'Quicksand-Regular' , sans-serif;
            font-weight: 400;
            line-height: 70px;
            p{
                margin: 0;
                font-family: "Quicksand-Bold";
                font-weight: 700;
            }
        }
        &-text{
            font-size: 20px;
            font-family: "Quicksand-Medium";
            
        }
        &-box{
            margin-top: 65px;
            margin-bottom: 100px;
            .btn-search{
            
            padding: 13px 30px;
            font-size: 16px;
            border-radius:25px;
            font-family: "Quicksand-Medium";
            }
            .search__btn-view{
                background-color:#fff;
                color: $blue;
            }
            .search__btn-popular{
                margin-left: 30px;
                background-color: #193dc3;
                border: 1px solid #fff;
                color: #fff;
            }
        }
        &-form{
            position: absolute;
            max-width: 100%;
            background-color:#fff;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            border-radius: 7px;
            text-align:left ;
            padding: 65px 40px;
            input{
                display: inline-block;
                border:1px solid #ccc;
                
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                width: 610px;
                height: 55px;
                font-size: 16px;
                padding-left: 25px;
                padding-right:60px;
               
                &::placeholder{
                    color:#90a4ae;
                    font-weight: 500;
                }
            }
            a{
                position: relative;
                border:1px solid #ccc;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                width: 200px;
                margin-left: -4px;
                font-size: 16px;
                padding: 14.5px 70px 14px 20px;
                
            }
            a:after{
                content:'';
                position: absolute;
                background-image: url(../images/icons/chevron-down.png);
                width: 14px;
                height: 8px;
                top: 23px;
                right: 18px;
                background-repeat: no-repeat;
            }
            button{
                margin-left: 25px;
                border:none;
                width: 220px;
                background-color:$blue;      
                padding: 19px 50px 19px 50px;
                border-radius:5px;
                text-align: center;
                color:#fff;
                cursor: pointer;
            }
        }


    }
    .info{
        padding: 190px 0 145px;
        background-color: #fff;
    }
    .info__inner-box{
        display: flex;
        justify-content: center;
    }
    .info__item{
    max-width: 360px;
    width: 100%;
    text-align: center;
    
      padding: 35px 30px;
      & + .info__item{
          margin-left: 30px;
      }
    &-img{
        margin: 0 auto;
        min-height: 135px;
        max-width: 134px;
        background-repeat:no-repeat;
        display: block;
        background-position: center;
        background-size:cover;
        margin-bottom: 35px;
    }
    &-title{
        font-size: 24px;
        color: #000;
        margin-bottom: 30px;
    }
    &-text{
        font-size: 16px;
        line-height: 30px;
    }
    &-shadow{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    }
    .weekly{
        background-color:#eff1f5;
        padding: 120px 0;
    }
    
    .weekly__featured{
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding: 40px 30px;
        background-color:#fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        
        &-btn{
            width: 110px;
            min-height: 45px;
            background-color:$purple;
            border-radius:20px;
            display: flexbox;
            justify-content: space-around;
            align-items:center;
            
        }
    }
    .weekly__inner{
    margin: 50px 0 110px;
    position: relative;
    }

    .weekly__box{
        display: flex;
        flex-direction: row;
        height: 450px;
        margin-bottom: 15px;
        
        &-img{
            min-width: 50%;
            background-repeat:no-repeat;
            display: block;
            background-position: center;
            background-size:cover;
        }
        &-resum{
            background-color:#fff;
            padding:50px 50px 20px;
        }
        .weekly__resum-title{
            font-family: "Quicksand-Medium";
            color: #000;
            font-size: 24px;
            margin-bottom: 20px;
            font-weight: 500;
        }
        .weekly__resum-user{
            display: flex;
            justify-content: start;
            align-items:center;
            margin-bottom: 20px;
            &-img{
                min-width: 30px;
                height: 30px;
                background-repeat:no-repeat;
                display: block;
                background-position: center;
                background-size:cover;
            }
            &-name{
                margin-left: 7px;
                font-size: 15px;
                color: #000;
                font-weight: 400;
            }
            &-plugin{
                min-width: 15px;
                height: 15px;
                background-repeat:no-repeat;
                display: block;
                background-position: center;
                background-size:cover;
                margin-left: 20px;
            }
            &-plugin-name{
                color: $purple;
                margin-left: 10px;
            }
            &-text{
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }
        .weekly__resum-categories{
            display: flex;
            justify-content: start;
            border-bottom: 1px solid #ccc;
            padding-bottom: 20px;
            .categories-btn{
                color: #868c96;
                background-color:#f1f3f6;
                padding: 8px 12px;
                border-radius: 30px;
                transition: all .5s;
                &:hover{
                    color: #fff;
                    background-color: $blue;
                }
                & + .categories-btn{
                    margin-left: 7px;
                }
            }
        } 
        .weekly__resum-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
        
            .product-rating{
                 a{
                    margin-left:50px;
                }
                .weekly__resum-price{
                    padding: 7px 10px;
                    background-color:$blue;
                    border-radius:20px;
                    color: #fff;
                    font-size: 15px;
                }
            }
        } 
    
    }
    .weekly-prev{
        z-index: 2;
        right: 100px;
    }
    .weekly-next{
        z-index: 1;
        right: 50px;
    }
    
    .weekly-btn{
        position: absolute;
        top: -121px;
        cursor: pointer;
        border:none;
        background-color: transparent;
        outline: none;
        // margin-right:auto ;
    }
    .products{
        padding: 120px 0 15px;
        background-color: #f6f7fb;
    }
    .products-top{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        background-color:#fff;
        margin-bottom: 30px;
        &-filter{
            font-size: 16px;
            font-weight: 400;
            img{
                margin-left: 20px;
               transform: translateY(35%);
            }
        } 
    }
    .products__inner-btn{
        text-align: center;
        // background-color:#f1f3f6;
        background-color:#fff;
        margin-bottom: 50px;
        padding: 30px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        button{
            padding: 10px 20px;
            border:none;
            background-color:#f1f3f6;
            cursor: pointer;
            border-radius:20px;
            & + button{
                margin-left: 10px;
            }
            &.mixitup-control-active{
                color: #fff;
                background-color: $blue;
            }
        }
    }
    .products__inner-box{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .product__item{
        max-width: 360px;
        width: 100%;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 30px;
        background-color:#fff;
        .product__item-img img{
            min-height: 230px;
            background-repeat:no-repeat;
            display:block;
            background-position:center;
            background-size:cover;
        }
        &-content{
            padding: 30px 30px 15px;
        }
        &-title{
            font-family: "Quicksand-Medium";
            font-weight: 500;
            font-size: 20px;
            color: #000;
            margin-bottom: 17px;
        }
        &-name{
            display:flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 25px;
        }
        &-user{
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover; 
        }
        &-nik{
            margin-left:7px;
            color: #000;
        }
        &-plugin{
            margin-left:20px;
            width: 15px;
            height: 20px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover;
        }
        .wordpress,
        .plugin-html{
            max-width: 20px;
            height: 20px;
        }
        &-category{
            color:$purple;
            margin-left: 7px;
        }
        &-text{
            text-align: center;
            font-size: 16px;
            line-height: 25px;
            padding-bottom: 30px;
            border-bottom:1px solid #ccc;
        }
        &-info{
            display:flex;
            justify-content: flex-start;
            align-items:center;
            margin-top: 15px;
        }
        &-price{
            
            color:$blue;
            padding: 8px 20px;
            background-color:#e6f1fd;
            border-radius: 20px;
        }
        &-like{
            margin-left: 15px;
            img{
            width: 17px;
            height: 15px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size: cover;
            transform: translateY(15%);
            }
        }
        &-buy{
        margin-left: auto;
        }
    }
    .products__bottom-btn{
        margin-top: 60px;
        max-width: 100%;
        text-align: center;
        button{
        border:none;
        padding: 20px 30px;
        background-color: $blue;
        cursor: pointer;
        border-radius:30px;
        color: #fff;
        
        }
    }

    .followers{
        padding-bottom: 100px;
        background-color:#fff;
        position: relative;
    }
    .followers-container{
    background-color: #eff1f5;
    padding: 10px;
    }
    .followers__top{
        margin-bottom: 55px;
    }
    .followers-inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .followers-prev{
        z-index: 2;
        right: 100px;
    }
    .followers-next{
        z-index: 1;
        right: 50px;
    }
    
    .followers-btn{
        position: absolute;
        top: -125px;
        cursor: pointer;
        border:none;
        background-color: transparent;
        outline: none;
        // margin-right:auto ;
    }
    .popular{
        background-color:#212225;
        padding: 90px 0;
        color: #fff;
    }
    .popular__inner{
        display: flex;
        justify-content: space-between;
        text-align: center;
        .popular__item{
            .popular-img{
                margin: 0 auto;
                background-repeat: no-repeat;
                display: block;
                background-position: center;
                background-size: cover;
                margin-bottom: 40px;
            }
            &-case{
                height: 46px;
                width: 55px;
            }
            &-download{
                height: 46px;
                width: 77px;
            }
            &-smile{
                height: 47px;
                width: 46px;
            }
            &-users{
                height: 46px;
                width: 60px;
            }
            &-content{
             font-size: 36px;
             margin-bottom: 10px;
            }
            .popular-yellow{
                color: #feb71d;
            }
            .popular-blue{
                color: #58c9e9;
            }
            .popular-green{
                color:#77de51;
            }
            .popular-pink{
                color:#ff6a6d;
            }
        }
    }
    .martplace{
        padding: 120px 0;
        background-color:#fff;
        font-size: 14px;
        font-weight: 400;
    }
    .martplace__top{
    text-align: center;
    margin-bottom: 60px;
        &-title{
            color:#000;
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 30px;
            span{
                color:$blue;
            }
        }
        &-text{
            font-size: 16px;
            padding: 0 230px;
        }
    }
    .martplace__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .martplace__item{
        position: relative;
        max-width: 360px;
        width: 100%;
        
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        padding:50px 30px;
        text-align: center;
        margin-bottom: 30px;
        span{
            position: absolute;
            left: 20px;
            top: 20px;
            font-size: 48px;
            color:#e5eafe;
        }
        &-title{
            font-size: 24px;
            color: #000;
            margin-bottom: 30px;
        }
        &-text{
            line-height: 25px;
        }
        .martplace-img{
            
            margin: 0 auto;
            background-repeat:no-repeat;
            display: block;
            background-position: center;
            background-size:cover;
            margin-bottom: 50px;
            
        }
        
        &-license{
            height: 60px;
            width: 75px;
            
        }
        &-quality,
        &-organized,
        &-leaf{
            height: 60px;
            width: 60px;

        }
        &-secure{
            width: 39px;
            height: 51px;
        }
        

    }
    .shopping__inner{
        display: flex;
        justify-content: flex-end;
        
        
    }
    .shopping__item{
        
        padding: 90px 200px;
        text-align: center;
        color: #fff;
        &-img{
            height: 100%;
            width: 100%;
            margin: 0 auto;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size:cover;
            margin-bottom: 45px;
        }
        .shopping-start{
            width: 125px;
            height: 100px; 
        }
        .shopping-sell{
            width: 100px;
            height:100px;
        }
        &-title{
            
            font-size: 36px;
            margin-bottom:28px ;
        }
        &-text{
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 45px;
        }
        &-btn{
            padding: 20px 25px;
            background-color:#fff;
            border:none;
            color: $blue;
            font-size: 16px;
            border-radius:30px;
        }
    }



.reviews{
    padding:120px 0;
}
.reviews__top{
    text-align: center;
    &-title{
        font-size: 36px;
        color:#000;
        
        margin-bottom: 30px;
        span{
            color:$blue;
        }
    }
    &-text{
      padding: 0 235px; 
      margin-bottom: 60px; 
    }
}



.reviews__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
.reviews__item{
    padding: 50px 40px;
    max-width: 550px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-left: 1px solid $blue;
    &-user{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        .user-img{
            height: 80px;
            width: 80px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size:cover;
        }
        .user-info{
            margin-left: 20px;
            &-name{
                color:#000;
                font-size: 20px;
                margin-bottom: 10px;
            }
            &-profesion{
                font-size: 16px;
            }
        }
        .user-info-img{
            width: 57px;
            height: 51px;
            background-repeat: no-repeat;
            display: block;
            background-position: center;
            background-size:cover;
            margin-left: auto;
        }    
    }
    &-text{
        font-size: 16px;
        line-height: 25px;
    }
}
.reviews__inner-btn{
    margin: 0 auto;
    margin-top: 60px;
    color: #fff;
    background-color:$blue;
    border-radius:30px;
    padding: 20px 30px;
    transition: all .5s linear;
}
.reviews__inner-btn:hover{
    // opacity: 0.5;
    background-color: #fff;
    color: $blue;
    border:1px solid $blue;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
}




    
    
       
      
        
        
      
    
       
    
      
         
      
    
        
        
      
    




